{% extends 'base.html' %}
{% block content_name %}{% endblock content_name %}
{% block content %}
<div style="padding-bottom: 150px">
{% include "pagination.html" with items=people %}
<table class="table table-dark table-bordered table-striped">
    <strong><li class="list-group-item head-li" style="text-align: center"><h2>All Actors and Directors</h2></li></strong>
        <thead>
          <tr>
            <th>Name</th>
            <th># of Movies</th>
            <th>Is Director</th>
            <th>Is Actor</th>
          </tr>
        </thead>
        <tbody>
            {% for person in people %}
          <tr>
            <td>{{person.name}}</td>
            <td>{{person.get_num_movies}}</td>
            <td>{{person.is_director}}</td>
            <td>{{person.is_actor}}</td>
          </tr>
          {% endfor %}
        </tbody>
    </table>
	{% include "pagination.html" with items=people %}
  </div>
{% endblock content %}